body {
    background-color: black;
}
a:link {
    color: yellow;
}
a:visited {
    color: darkgoldenrod;
}
.hide {
    display: none !important;
}
#outer {
    background-color: black;
    display: flex;
    justify-content: center;
}
.modal_btn {
    background: no-repeat center/100% url('assets/images/14749.png');
    width: 140px;
    height: 44px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    user-select: none;
    cursor: pointer;
}
.modal_btn:hover {
    background-image: url('assets/images/14748.png');
}
#modal_character {
    background-image: url('assets/images/bg.jpg');
    width: 1024px;
    height: 768px;
    color: #ffcc00;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 80px;
    font-family: 'Metamorphous', sans-serif;
}
#modal_character > div {
    text-align: center;
    margin: 20px;
}
#modal_character h3 {
    display: inline;
    margin: 1em;
}
#modal_character input {
    background-color: black;
    border-color: #ffcc00;
    color: white;
    font-size: large;
}
.form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-label {
    width: 40%;
    font-size: 1.17em;
    text-align: right;
    box-sizing: border-box;
    padding-right: 20px;
}
.form-content {
    width: 60%;
    text-align: left;
}
#modal_instructions {
    background-image: url('assets/images/nox_instructions.jpg');
    width: 1024px;
    height: 768px;
}
#chat {
    width: 300px;
    height: 768px;
    flex-direction: column;
    margin-left: 10px;
    display: flex;
}
#chatinput {
    background-color: black;
    color: white;
    flex-shrink: 0;
}
#chatlog {
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    font-family: monospace;
    margin-bottom: 10px;
}
#chatlog > div {
    min-height: -moz-min-content;
    min-height: -webkit-min-content;
}
.chatname {
    color: white;
}
.chatme {
    color: green;
}
.chattext {
    color: white;
}